@mixin clearfix {
   &::after {
      content: '';
      display: table;
      clear: both;
   }
}

@mixin absCenter {
   top: 50%;
   left: 50%;
   position: absolute;
   transform: translate(-50%, -50%);
}

//media query manager    

/*  0-600 px           Phone       
600 - 900px        Tablet portrait
900-1200px         Tablet landscape
1200-1800          normal style
1800px +:          Desktop 
*/

//breakpoint argument choices:    

/*  
-phone  
-tab-port   
-tab-land  
-big-desktop  
ORDER: base + typografi > general lyout + grid > page layout > components 
*/

@mixin respond($breakpoint) {
   @if $breakpoint==phone {
      @media only screen and (max-width: 37.5em) {
         @content;
      }
   }

   @if $breakpoint==tab-port {
      @media only screen and (max-width: 56.25em) {
         @content;
      }
   }

   @if $breakpoint==tab-land {
      @media only screen and (max-width: 75em) {
         @content;
      }
   }

   @if $breakpoint==big-desktop {
      @media only screen and (min-width: 122.5em) {
         @content;
      }
   }
}