.header {
   height: 85vh;
   background-image: linear-gradient(to right bottom, rgba($color-primary-light, 0.8), rgba($color-primary-dark, 0.8)), url(../img/hero-small.jpg);
   background-size: cover;
   background-position: top;
   position: relative;

   @media only screen and (min-resolution: 192dpi) and (min-width: 37.5em),
   (-webkit-min-device-pixel-ratio: 2) and (min-width: 37.5em),
   (min-width:125em) {
      background-image: linear-gradient(to right bottom, rgba($color-primary-light, 0.8), rgba($color-primary-dark, 0.8)),
         url(../img/hero.jpg);
   }

   @supports(clip-path: polygon(0 0)) or (-webkit-clip-path: polygon(0 0)) {
      clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
      height: 95vh;
   }


   @include respond(phone) {
      clip-path: polygon(0 0, 100% 0, 100% 85vh, 0 100%);
   }

   &__logo-box {
      position: absolute;
      top: 4rem;
      left: 4rem;
   }

   &__logo {
      height: 3.5rem;
   }

   &__text-box {
      position: absolute;
      top: 40%;
      left: 50%;
      transform: translate(-50%, -50%);
      text-align: center;
   }
}